<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            height: 500px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div>
        <form action='{% url "register" %}' method="post"> 
            {% csrf_token %} 
            <label for="name"> Name </label> <input  type="text" name="name" /> <br/> <br/>
            <label for="email"> Email </label> <input  type="text" name="email" /> <br/> <br/>
            <label for="mobile"> Mobile </label> <input  type="text" name="mobile" /> <br/> <br/>
            <button type="submit"> 
                submit
            </button>
        </form>


    </div>
</body>
</html>